/*comman api start of all list */

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    background-color: #FFF;
}

.main-header .logo>.logo-lg {
    background-color: #FFF;
}

div#Result {
    background-color: #f8f9fa;
    margin-top: 10px;
}


/*comman api end of all list */