<html>

<head>
    <app-head></app-head>



</head>

<body class="skin-black fixed sidebar-mini sidebar-mini-expand-feature">
    <div class="wrapper">
        <app-header></app-header>
        <app-side-bar></app-side-bar>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>Add Product Line</h1>
                <ol class="breadcrumb">

                    <li><a href="#">Home</a></li>
                    <li class="active">Product Line</li>
                </ol>
            </section>
            <section class="content">
                <div class="row layout-section">
                    <div class="col-12 col-md-12 col-lg-12 layout-section-right">
                        <div class="h-100 formHolder" id="formHolder" tabindex="0">
                            <form id="mainForm" enctype="multipart/form-data" novalidate="">
                                <div class="box box-default">
                                    <div class="box-header pb-0 border-bottom">
                                        <h5 class="d-inline-block text-nowrap">Product Line Details</h5>
                                        <div class="float-right buttons text-right">
                                            <button type="button" class="btn btn-sm btn-default gotoView" data-toggle="tooltip" title="Back to view" style="display: none;">
                                            <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg><!-- <i class="fas fa-arrow-left"></i> Font Awesome fontawesome.com -->
                                        </button>
                                            <button type="button" class="btn btn-sm btn-light" id="saveData" title="Save" (click)="navigateToEquipmentMappingList()">
                                            <svg class="svg-inline--fa fa-save fa-w-14" aria-hidden="true" focusable="false" data-prefix="far" data-icon="save" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM272 80v80H144V80h128zm122 352H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h42v104c0 13.255 10.745 24 24 24h176c13.255 0 24-10.745 24-24V83.882l78.243 78.243a6 6 0 0 1 1.757 4.243V426a6 6 0 0 1-6 6zM224 232c-48.523 0-88 39.477-88 88s39.477 88 88 88 88-39.477 88-88-39.477-88-88-88zm0 128c-22.056 0-40-17.944-40-40s17.944-40 40-40 40 17.944 40 40-17.944 40-40 40z"></path></svg><!-- <i class="far fa-save"></i> Font Awesome fontawesome.com -->
                                        </button>
                                            <button type="button" class="btn btn-sm btn-default closeData" data-toggle="tooltip" title="Close" (click)="navigateToEquipmentMapping()">
                                                <svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com -->
                                        </button>
                                        </div>
                                    </div>
                                    <div class="box-body pt-0 pr-0 pl-0">
                                        <div class="data-scrollable pl-3 pr-3 pt-3">
                                            <div id="product_line_add_success" class="alert alert-success form-control" role="alert">
                                                {{this.display_success_msg}}
                                            </div>
                                            <div id="product_line_add_failed" class="alert alert-danger form-control" role="alert">
                                                {{this.display_failed_msg}}
                                            </div>
                                            <div id="valid_product_line_form" class="alert alert-danger form-control" role="alert">

                                            </div>
                                            <div class="row box-area">
                                                <div class="col-sm-3">
                                                    <label>OEM<span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select name="oem" id=" " class="form-control" [(ngModel)]="selectedOem" #selectOem [ngModelOptions]="{standalone: true}">
                                                        <option *ngFor="let oem of getOem" value={{oem.id}}>{{oem.name}}</option>
                                                        <!-- <option>hpe</option>
                                                        <option>cisco</option> -->
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="row box-area">
                                                <div class="col-sm-3">
                                                    <label>Product Line<span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" maxlength="150" required name="txtProductLine" id="txtProductLine" class="form-control" [(ngModel)]="selectedProductLine" />
                                                </div>

                                            </div>

                                            <div class="row box-area">
                                                <div class="col-md-3">
                                                    <label>Status<span class="text-danger ">*</span></label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="switch">
                                                    <input type="checkbox" name="options" value="1" [(ngModel)]="isActive.options" checked>
                                                    <span class="slider round"></span>
                                                    <input type="checkbox" name="options" value="0" [(ngModel)]="isActive.options" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
                                                  </label><br><br>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- end of box -->
                            </form>
                        </div>
                        <!-- end of formholder -->






                    </div>
                </div>

            </section>

        </div>


        <!-- end of content wrapper -->
        <app-footer></app-footer>
    </div>
    <div id="spinner "></div>
</body>

</html>