<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="nav-dashboard"><a routerLink="/dashboard" (click)="navigateToDashboard()"><i class="fa fa-chart-pie"></i><span>Dashboard</span></a></li>
            <li class="nav-company"><a routerLink="/company-list" (click)="navigateToCompanyList()"><i class="fa fa-building"></i><span>Company</span></a></li>
            <!-- <li class="nav-company"><a routerLink="/company-list" (click)="navigateToCompanyList()"><i class="fa fa-user-tie"></i><span>Company</span></a></li> -->
            <li class="nav-sales-rep"><a routerLink="/sales-rep-list" (click)="navigateToSalesRepList()"><i class="fa fa-user-tie"></i><span>Sales Rep.</span></a></li>
            <!-- <li class="nav-sales-rep"><a routerLink="/sales-rep-list" (click)="navigateToSalesRepList()"><i class="fa fa-user-graduate"></i><span>Sales Rep.</span></a></li> -->
            <li class="nav-country"><a routerLink="/country-list" (click)="navigateToCountryList()"><i class="fa fa-globe"></i><span>Country</span></a></li>
            <!-- <li class="nav-country"><a routerLink="/country-list" (click)="navigateToCountryList()"><i class="fa fa-user-check"></i><span>Country</span></a></li> -->
            <li class="nav-equipment"><a routerLink="/equipment-list" (click)="navigateToEquipmentList()"><i class="fa fa-file"></i><span>Equipment</span></a></li>
            <!-- <li class="nav-equipment"><a routerLink="/equipment-list" (click)="navigateToEquipmentList()"><i class="far fa-calendar-alt"></i><span>Equipment</span></a></li> -->
            <li class="nav-quote"><a routerLink="/quote-list" (click)="navigateToQuoteList()"><i class="fa fa-sign-out-alt"></i><span>Quote</span></a></li>
            <li class="nav-permaintained"><a routerLink="/permaintained-list" (click)="navigateToPermaintainedList()"><i class="fa fa-wrench"></i><span>% Maintained</span></a></li>
            <!-- <li class="nav-permaintained"><a routerLink="/permaintained-list" (click)="navigateToPermaintainedList()"><i class="fa fa-chart-pie"></i><span>% Maintained</span></a></li> -->
            <li class="nav-global-settings"><a routerLink="/global-settings-list" (click)="navigateToGlobalSettingsList()"><i class="fa fa-cogs"></i><span>Global Settings</span></a></li>
            <!-- <li class="nav-global-settings"><a routerLink="/global-settings-list" (click)="navigateToGlobalSettingsList()"><i class="fa fa-certificate"></i><span>Global Settings</span></a></li> -->
            <li class="nav-oem"><a routerLink="/oem-list" (click)="navigateToOem()"><i class="fa fa-database"></i><span>OEM </span></a></li>
            <!-- <li class="nav-oem"><a routerLink="/oem-list" (click)="navigateToOem()"><i class="fa fa-user-tie"></i><span>OEM </span></a></li> -->
            <li class="nav-product-line"><a routerLink="/product-line-list" (click)="navigateToProductLineList()"><i class="fa fa-database"></i><span>Product Line</span></a></li>
            <!-- <li class="nav-product-line"><a routerLink="/product-line-list" (click)="navigateToProductLineList()"><i class="fa fa-user-graduate"></i><span>Product Line</span></a></li> -->
            <li class="nav-type"><a routerLink="/type-list" (click)="navigateToTypeList()"><i class="fa fa-database"></i><span>Type</span></a></li>
            <!-- <li class="nav-type"><a routerLink="/type-list" (click)="navigateToTypeList()"><i class="fa fa-user-check"></i><span>Type</span></a></li> -->
            <li class="nav-equipment-mapping"><a routerLink="/equipment-mapping-list" (click)="navigateToEquipmentMapping()"><i class="fa fa-certificate"></i><span>Equipment Mapping</span></a></li>
            <li class="nav-sign"><a routerLink="/sign-in" (click)="navigateToSignIn()"><i class="fa fa-sign-out-alt"></i><span>Sign Out</span></a></li>

        </ul>
    </section>
</aside>